@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
}

a.products::before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: black;
  bottom: 0;
  transition: 0.3s;
}

a.products:hover::before {
  width: 100%;

}

header.header {
  width: 100%;
  max-width: 95vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 10px 20px;
}

header.header span {
  font-weight: 700;
  font-size: 16pt;
}

header.header img{
  display: block;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form.base-form {
  max-width: 300px;
  gap: 10px;
  padding: 10px;
}

form input {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  transition: .3s all;
}

form input:hover, 
form input:focus {
  border-left: 1px solid black;
  outline: none;

}

form button {
  padding: 10px 15px;
  border: 1px solid transparent;
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
}

form button:hover {
  border: 1px solid black;
  background-color: rgb(37, 37, 37);
}

.container {
  padding: 20px 10px;
  max-width: 500px;
  margin: 0 auto;
}

.container.form-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

span.register-text {
  font-size: 10pt;
}

span.register-text a {
  color: rgb(55, 68, 255);
}

span.register-text a:hover {
  text-decoration: underline;
}