@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}

.main-msg {
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 10px;
  z-index: 999;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
}

a.products::before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: black;
  bottom: 0;
  transition: 0.3s;
}

a.products:hover::before {
  width: 100%;

}

header.header {
  width: 100%;
  max-width: 95vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 10px 20px;
}

header.header span {
  font-weight: 700;
  font-size: 16pt;
}

header.header img{
  display: block;
  max-width: 100%;
}

header .user-options {
  display: flex;
  gap: 20px;
  align-items: center;
}

header .user-options img {
  width: 30px;
  height: 30px;
  transition: .3s;
}

header .user-options img:hover {
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
}

form.base-form {
  max-width: 300px;
  gap: 10px;
  padding: 10px;
  margin: 0 auto;
}

form input {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  transition: .3s all;
}

form input:hover, 
form input:focus {
  border-left: 1px solid black;
  outline: none;

}

form button, button.btn {
  padding: 10px 15px;
  border: 1px solid transparent;
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
}

form button:hover, button.btn:hover {
  border: 1px solid black;
  background-color: rgb(37, 37, 37);
}

.container {
  padding: 20px 10px;
  max-width: 500px;
  margin: 0 auto;
}

.container.form-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

span.register-text {
  font-size: 10pt;
}

span.register-text a {
  color: rgb(55, 68, 255);
}

span.register-text a:hover {
  text-decoration: underline;
}

h1.msg-landing-page {
  line-height: 60px;
  padding: 40px 0;
  font-weight: 500;
  
}

h1.msg-landing-page a {
  color: white;
}


.landing-page-container img {
  max-width: 60%;
  display: block;
}


.landing-page-container {
  display: flex;
  max-width: 70vw;
  padding: 40px 10px;
  gap: 20px;
  margin-bottom: 100px;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100vw;
  gap: 20px;
  padding: 40px 10px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  margin-bottom: 100px;
}

.testimonials h1 {
  /* padding-left: 100px; */
  text-align: center;
  font-size: 36px;
}


.testimonials img {
  max-width: 50%;
  margin-bottom: 10px;

}

.testimonials article {
  text-align: center;
  padding: 10px 30px;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
}

.footer img {
  display: block;
  max-width: 40px;
}

.footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 400px;
  gap: 10px;
  margin: 20px 0;
}

.footer ul li {
  width: 40px;
  transition: all .3s;
}

.footer ul li:hover {
  transform: scale(1.01);
}

.footer p a {
  display: inline-block;
  text-decoration: underline;
}
