.container {
  max-width: 900px;
  font-size: 10pt;

}

.product {
  display: flex;
  margin: 10px 0 20px;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 5px;
  font-size: 10pt;
  align-items: center;
}

.product img {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  line-height: 100px;
  text-align: center;
}

.product .description {
  flex: 1;
}

.container-qtd {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.product button {
  border: none;
  display: block;
  width: 30px;
  font-size: 8pt;
  height: 30px;
  cursor: pointer;
}

.add-btn {
  background-color: rgb(117, 196, 93);
}

.remove-btn {
  background-color: rgb(196, 93, 93);
}

.btn {
  margin-top: 20px;
}

.btn, a:not(.products){
  color: white;
}

.finish-shopping {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

